<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
https://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/mvc
https://www.springframework.org/schema/mvc/spring-mvc.xsd
http://www.springframework.org/schema/context
https://www.springframework.org/schema/context/spring-context.xsd">
    <context:component-scan base-package="com.mvc">
        <!--排除扫描控制层注解-->
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>
    <!--配置控制层扫描包-->
    <context:component-scan base-package="com.mvc.controller">
        <!--只扫描控制层注解-->
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>
    <!--创建处理器映射器HandlerMapping-->
    <!--    <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping"></bean>-->
    <!--创建处理器适配器HandlerAdapter-->
    <!--    <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter"></bean>-->
    <!--创建试图解析器-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <!--指定前缀-->
        <property name="prefix" value="/"></property>
        <!--指定后缀-->
        <property name="suffix" value=".jsp"></property>
    </bean>
    <!--以上称为SpringMVC三大组件-->


    <!--注册日期转换工具类-->
    <bean id="dateConverter" class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
        <property name="converters">
            <set>
                <bean class="com.mvc.util.MyDateConverter"></bean>
            </set>
        </property>
    </bean>

    <!--
        处理静态资源
        两种方式只能选择一种
    -->
    <!--1,交给DefaultServlet处理-->
    <mvc:default-servlet-handler></mvc:default-servlet-handler>
    <!--2,指定静态资源的访问路径-->
    <!--    <mvc:resources location="/html/" mapping="/html/**"></mvc:resources>-->
    <!--    <mvc:resources location="/js/" mapping="/js/**"></mvc:resources>-->


    <!--这个标签会自动注册处理器映射器，处理器适配器和异常处理器-->
    <!--开启格式转换服务conversion-service-->
    <mvc:annotation-driven conversion-service="dateConverter"></mvc:annotation-driven>

    <!--创建文件上传对象，id固定-->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver"></bean>

    <!--创建异常处理器-->
    <bean class="com.mvc.util.MyExceptionHandler"></bean>

</beans>